/* 1) Global reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* 2) Header */
.header {
  display: flex;
  justify-content: space-around;
  background-color: #1F2937;
  padding: 50px;
  gap: 100px;
}

.header .logo {
  font-size: 28px;
  font-weight: bold;
  color: #F9FAF8;

  
}

.header .links {
  display: flex;
  justify-content: space-between;
  size: 18px;
  color: #F9FAF8;
  gap: 30px;
}

/* 3) Awesome “hero” section */
.awesome {
  display: flex;
  background-color: #1F2937;
  justify-content: space-around;
  padding: 50px;
  padding-left: 280px;
  padding-right: 280px;
  
}

.awesome .logo {
    padding: 5px;
  font-size: 48px;
  color: #F9FAF8;
  font-weight: 900;
  width: 400px;


}

.awesome .awesomeButton {
  font-size: 18px;
  padding: 8px;
  padding-left: 25px;
  padding-right: 25px;
  margin: 5px;
  margin-left: 10px;
  border-radius: 10px;
  border: #1F2937;
  color: #E5E7EB;
  background-color: #3882F6;
  font-weight: 800;
}

.awesome .bluh {
  padding: 5px;
  color: #E5E7EB;
  width: 400px;
  padding-left: 10px;

}

img {
  height: 300px;
  width: 700px;
}

/* 4) Info section – no styles yet */
.info {
  background-color: #F9FAF8;
  display: flex;
  flex-direction: column;
}
.info .infoHeader{
  font-size: 36px;
  color: #1F2937;
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
}
.info .cubes{
  display: flex;
  justify-content: center;
  gap: 50px;
  
}
.info .cubes .infoImage{
  width: 150px;
  height: 150px;
  border: 5px solid #3882F6 ;
  border-radius: 10px ;

}

.info .cubes p{
  width: 150px;
}

/* 5) Thor section – no styles yet */
.thor {
  display: flex;
  
  flex-direction: column;
  background-color: #E5E7EB;
  justify-content: center;
  align-items: center;
  padding: 25px;
}

.thor .quoate{
  font-family: 'Roboto';
  color: #1F2937;
  font-size: 36px;
  font-style: italic;
  font-weight: 300;
  width: 1000px;

  
}

.thor .quoatee{
  font-size: 17px;
  font-weight: 800;
  margin-left: 700px;
}

/* 6) Sign section – no styles yet */
.sign {
  display: flex;
  background-color: #3882F6;
  justify-content: space-around;
  margin: 100px;
  margin-left: 200px;
  margin-right: 200px;
  padding: 30px;
  border-radius: 10px;
}

.sign .sign-header{
  
  color: #F9FAF8;
  font-size: 36px;
  font-weight: 900;
}
.sign .sign-left{
  display: flex;
  flex-direction: column;
}
.sign .sign-right{
  display: flex;
}
.sign .sign-text{
  color: #F9FAF8;
  font-size: 18px;
}

.sign .sign-button{
  background-color: #3882F6;
  border: 2px solid #F9FAF8 ;
  border-radius: 10px ;
  color: #F9FAF8;
  padding: 8px;
  padding-left: 25px;
  padding-right: 25px;
  margin: 5px;
  margin-left: 10px;
}
/* 7) Footer */
.footer {
  display: flex;
  background-color: #1F2937;
  color: #F9FAF8;
  justify-content: center;
  padding: 50px;
  font-size: 18px;
}